{% extends 'user_base/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'order/css/order_success.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<!-- Order Success Content -->
<main class="order-success">
    <h1 class="page-title">Order Confirmed</h1>
    
    <div class="confirmation-banner">
        <h1>Order Confirmed!</h1>
        <p>Thank you for shopping with Lookit. Your order has been successfully placed.</p>
    </div>
    
    <div class="order-details">
        <div class="order-info">
            <h3>Order Information</h3>
            <div class="info-row">
                <span class="info-label">Order Number:</span>
                <span class="info-value">#{{ order.uuid }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Order Date:</span>
                <span class="info-value">{{ order.created_at.date }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Payment Method:</span>
                <span class="info-value">{% if order.payment_method == 'COD' %}Cash On Delivery{% elif order.payment_method == 'ONLINE_PAYMENT' %}Online Payment{% elif  order.payment_method == 'WALLET' %}Wallet{% endif %}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Payment Status:</span>
                <span class="info-value">
                    {% if order.payment_method == 'COD' %}
                        <span class="badge cod">Cash On Delivery</span>
                    {% elif order.payment_method == 'ONLINE_PAYMENT' or order.payment_method == 'WALLET' %}
                        <span class="badge paid">Paid</span>
                    {% endif %}
                </span>

            </div>
        </div>
        
        <div class="order-info">
            <h3>Shipping Information</h3>
            <div class="info-row">
                <span class="info-label">Shipping Address:</span>
                <div class="info-value">
                    <p>{{ address.full_name }}</p>
                    <p>{{ address.address_line }}, {{ address.city }}, {{ address.state }}</p>
                    <p>pincode: {{ address.pincode }}</p>
                    <p>Phone: {{ address.phone }}, {{address.second_phone}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="order-items">
        <h3>Items Ordered</h3>
        <table class="items-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>

                {% for item in order_items %}
                <tr>
                    <td>
                        <div class="item-details">
                            <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}" class="item-image">
                            <div>
                                <div class="item-name">{{ item.product.name }}</div>
                                <div class="item-color">Size: {{ item.variant.size }}</div>
                            </div>
                        </div>
                    </td>
                    <td>₹{{ item.unit_price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>₹{{ item.sub_total }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    
    <div class="order-summary">
        <div class="summary-header">
            <h3>Order Summary</h3>
        </div>
        <div class="summary-row">
            <span class="summary-label">Subtotal ({{ order.total_items }} item)</span>
            <span class="summary-value">₹{{ order.sub_total }}</span>
        </div>
        {% if order.discount_total and order.discount_total != 0 %}
        <div class="summary-row">
            <span class="summary-label">Discount Applid</span>
            <span class="summary-value discount">-₹{{ order.discount_total }}</span>
        </div>
        {% endif %}
        {% if order.coupon_applied %}
        <div class="summary-row">
            <span class="summary-label">Coupon Applied</span>
            <span class="summary-value discount">-₹{{ order.coupon_discount_total }}</span>
        </div>
        {% endif %}
        <div class="summary-row">
            <span class="summary-label">Shipping Fee</span>
            <span class="summary-value">+₹{{ order.delivery_total }}</span>
        </div>
        <div class="summary-row total">
            <span class="summary-label">Total</span>
            <span class="summary-value">₹{{ order.grand_total }}</span>
        </div>
    </div>

    <div class="action-buttons">
        <a href="{% url 'explore' %}" class="btn btn-outline">Continue Shopping</a>
        <a href="{% url 'my-orders' %}" class="btn btn-primary">Track My Order</a>
    </div>
</main>
{% endblock %}

{% block scripts %}
{% endblock %}